Package: Libre-Path-Adder
Version: 0.1.0
Section: custom
Priority: optional
Architecture: amd64
Essential: no
Installed-Size: 700
Maintainer: Faisal Alghamdi <punchcake@skiff.com>
Description: Libre Path Adder is a GUI utility designed to simplify the process of adding paths for the Bash shell (zsh coming in 1.0.0). It provides an efficient way to manage your environment variables, making it easier to access your favorite tools and applications from your command line.

